package ${base_service_package};

import java.util.List;

#foreach($package in $packages)
import ${package};
#end

/**
 * ${table.tableComment}Service基础操作接口
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
public interface ${table.className}BaseService {

	public void save(${table.className} ${table.propertyName});
	
	public void update(${table.className} ${table.propertyName});

	public void modify(${table.className} ${table.propertyName});

	public void delete(${table.columnKey.propertyType.javaType} ${table.columnKey.propertyName});

	public void batchSave(List<${table.className}> list);

    public void batchUpdate(List<${table.className}> list);

    public void batchDelete(List<Long> ids);

	/**
	 * 根据主键查询
	 * @param ${table.columnKey.propertyName} ${table.columnKey.columnComment}
	 * @return ${table.className}
	 */
	public ${table.className} findById(${table.columnKey.propertyType.javaType} ${table.columnKey.propertyName});

	/**
	 * 根据对象查询
	 * @param ${table.propertyName}
	 * @return List
	 */
	public List<${table.className}> find(${table.className} ${table.propertyName});

	/**
	 * 根据对象查询
	 * @param ${table.propertyName}
	 * @param orders 排序字段，可多字段排序。格式{{"字段名", "asc"}, {"字段名, "desc"}}
	 * @return List
	 */
	public List<${table.className}> find(${table.className} ${table.propertyName}, String[][] orders);

	/**
	 * 根据对象查询
	 * @param ${table.propertyName}
     * @param offset 开始索引
     * @param rows 条数(从第offset+1条开始，取rows条)
	 * @return List
	 */
	public List<${table.className}> find(${table.className} ${table.propertyName}, Long offset, Long rows);

	/**
	 * 根据对象查询
	 * @param ${table.propertyName}
	 * @param orders 排序字段，可多字段排序。格式{{"字段名", "asc"}, {"字段名, "desc"}}
     * @param offset 开始索引
     * @param rows 条数(从第offset+1条开始，取rows条)
	 * @return List
	 */
	public List<${table.className}> find(${table.className} ${table.propertyName}, String[][] orders, Long offset, Long rows);

	/**
	 * 根据对象查询条数
	 * @param ${table.propertyName}
	 * @return Long
	 */
	public Long count(${table.className} ${table.propertyName});
}
