package ${base_service_impl_package};

import java.util.List;

/**
 * Created by SDD on 2017/3/28.
 */
public interface BaseService<T> {

	void save(T t);

	void update(T t);

	void modify(T t);

	void delete(Long id);

	void batchSave(List<T> list);

	void batchUpdate(List<T> list);

	void batchDelete(List<Long> ids);

	/**
	 * 根据主键查询
	 * @param id 主键
	 * @return DimNode
	 */
	T findById(Long id);

	/**
	 * 根据对象查询
	 * @param t
	 * @return List
	 */
	List<T> find(T t);

	/**
	 * 根据对象查询
	 * @param t
	 * @param orders 排序字段，可多字段排序。格式{{"字段名", "asc"}, {"字段名, "desc"}}
	 * @return List
	 */
	List<T> find(T t, String[][] orders);

	/**
	 * 根据对象查询
	 * @param t
	 * @param offset 开始索引
	 * @param rows 条数(从第offset+1条开始，取rows条)
	 * @return List
	 */
	List<T> find(T t, Long offset, Long rows);

	/**
	 * 根据对象查询
	 * @param t
	 * @param orders 排序字段，可多字段排序。格式{{"字段名", "asc"}, {"字段名, "desc"}}
	 * @param offset 开始索引
	 * @param rows 条数(从第offset+1条开始，取rows条)
	 * @return List
	 */
	List<T> find(T t, String[][] orders, Long offset, Long rows);

	/**
	 * 根据对象查询条数
	 * @param t
	 * @return Long
	 */
	Long count(T t);
}