package ${dao_package};

import java.util.List;

import ${base_dao_package}.${table.className}BaseDao;
#foreach($package in $packages)
import ${package};
#end

/**
 * ${table.tableComment}Dao接口
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
public interface ${table.className}Dao extends ${table.className}BaseDao {

	/** 此处写一些算定义的方法，不要修改Base的方法 **/
}
