package ${resultcode_package};

import com.lhy.common.lang.result.ResultCode;

/**
 * ${table.comment}枚举
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
public enum ${table.className}ResultCode implements ResultCode {

   /** 成功 */
    SUCCESS(200, "SUCCESS"),

    /** 系统错误 */
    SYSTEM_ERROR(500, "SYSTEM_ERROR"),

    /** 签名异常 */
    SIGN_ERROR(500, "SIGN_ERROR"),

    /** 未登陆 */
    TOKEN_IS_BLANK(50001,"TOKEN_IS_BLANK"),

    ;

    private String errorCode;

    private int    statusCode;

    ${table.className}ResultCode(int statusCode, String errorCode) {
        this.errorCode = errorCode;
        this.statusCode = statusCode;
    }

    @Override
    public String getErrorCode() {
        return errorCode;
    }

    @Override
    public int getStatusCode() {
        return statusCode;
    }
}
