package ${row_mapper_package};

import java.io.Serializable;
import ${model_package}.${table.className};
import org.springframework.jdbc.core.RowMapper;

#foreach($package in $packages)
import ${package};
#end

import java.sql.ResultSet;
import java.sql.SQLException;

/**
 * ${table.tableComment}的RowMapper
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
public class ${table.className}RowMapper implements RowMapper<${table.className}> {


    @Override
    public ${table.className} mapRow(ResultSet rs, int rowNum) throws SQLException {
        ${table.className} ${table.propertyName} = new ${table.className}();
#foreach($s in $list)
        ${table.propertyName}.${s.propertyNameSetter}(rs.get${s.propertyType.javaType}("${s.columnName}"));
#end
        return  ${table.propertyName};
    }
}
