package ${service_package};

import java.util.List;

import ${base_service_package}.${table.className}BaseService;
#foreach($package in $packages)
import ${package};
#end

/**
 * ${table.tableComment}Service接口
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
public interface ${table.className}Service extends ${table.className}BaseService {

	/** 此处写一些算定义的方法，不要修改Base的方法 **/
}
