package ${service_impl_package};

import ${base_service_package}.BaseServiceAbstract;
import ${service_package}.${table.className}Service;
import ${model_package}.${table.className};

import org.springframework.stereotype.Service;
#foreach($package in $packages)
import ${package};
#end

/**
 * ${table.tableComment}Service接口实现
 *
 * @author ${author}
 * @version $v: ${version}, $time:${datetime} Exp $
 */
@Service
public class ${table.className}ServiceImpl extends BaseServiceAbstract<${table.className}> implements ${table.className}Service {

	/** 此处写一些自定义的方法，不要修改Base的方法 **/
}
